*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body,  */
html,
body{
    background: linear-gradient(30deg, #07a8dc, #0bccb9);
    /* width: 100vw; */
    height: inherit;
    min-height: 100vh;
}

.navbar{
    justify-content: center !important;
}

.contain-right{
    float:right;
    width:calc(100% - 27%)!important;
    margin:50px 0px;
}


.form-input{
    width: 70%;
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid black;
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

.form-input:focus{
    background-color: rgb(247, 255, 255);
}

.float-left{
    margin-top: 50px !important;
}

.temp-card{
    width: calc(100%) !important;
    margin-top: 40px !important;
    height:300px !important;
    border-radius: 20px !important;
}

.curr-forecast{
    /* margin: 20px 20px; */
    width:45%;
    
}

.city-temp-maincard > *{
    display: inline-block;
    /* display:flex; */
    /* flex-wrap: wrap; */
    
}

.citycard-icon{
    width: 200px;
    position: absolute;
    inset:-100px 0 0 calc(100% - 30%);
}

.citycard-desc,.citycard-temp{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-main{
    display: flex;
}

.col1,.col2{
    /* border: 1px solid grey; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width:30% !important;
    background-color:#ff0f976d;
    width:380px;
    margin: auto;
}

.col2{
    background-color:#6c5df17b;
    /* width:380px; */
    
}

.map-main{
    margin-left: 20px;
    float:right !important;
    width:47%;
}

.google-maps{
    float:right;
    width: calc(100%);
    margin-top: 30px;
    margin-right:40px;
    height:300px;
    border-radius: 20px;
}

.labelsearch-hist{
    margin:20px 0 !important;
}

.dayForcast{
    padding-top: 60px !important;
    border-radius: 10px;
    background-color: #e1eff7;
    /* background-color: rgba(, green, blue, alpha); */
    /* opacity: 0.8; */
}

.dayForcast:nth-of-type(1){
    margin-left: -40px !important;
}
    

.img-icon{
    position: absolute;
    inset:-80px 0 0 30px;
    width:150px !important;
}

.desc{
    text-align: center;
}

.temp{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    color: #6fa1a2 !important;
}

/* .card{
    width:150px;
    height:400px;
} */